div.upcoming-films-box{
  display: block;
  margin: 2em;
  width: 600px;
  border: 1px solid black;
  padding: 2em;
  justify-content: center;
}
ul.film-list{
  width: 80%;
  margin: auto;
  display: block;
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid black;
  list-style: inside disc;
}
li.film-title-link {
  display: block;
  margin: 1em;
  line-height: 2em;
}

button.view-more {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  display: block;
  padding: 1.5em;
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
}
h2 {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}
